{% extends "pagina.html" %}

{% block content %}
<div align="center">
    <h2> Agendamentos</h2>
    <a href="evento/">
            <button type="button">Novo evento</button>
    </a>
    <ul style="font-size: 18px" >
    {% for evento in eventos %}
        <tt><li>
            {{ evento.titulo }} - {{ evento.get_data_evento }} <br> <!--{{ evento.descricao }}<br>-->
            (<a href="evento/?id={{ evento.id }}">Editar</a>
           / <a href="evento/deleta/{{evento.id}}/">Excluir</a>)<br><br>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}